<div class="flex flex-col gap-8 pb-12">
  <header>
    <h1 class="text-3xl md:text-4xl font-bold text-white mb-2">History</h1>
    <p class="text-[var(--tui-text-secondary)]">Your recently played tracks and albums.</p>
  </header>
	<tui-loader [loading]="isLoading()">
    <div  class="flex flex-col gap-2">
    @for (track of items(); track track.playedAt) {
      <div
        class="flex items-center gap-4 p-3 rounded-xl hover:bg-[var(--tui-background-elevation-1)] transition-colors group cursor-pointer border border-transparent hover:border-[var(--tui-border-normal)]"
      >
        <img [src]="track.album.cover_small" [alt]="track.title" class="w-12 h-12 rounded shadow" />

        <div class="flex flex-col flex-1">
          <span class="text-sm font-semibold text-white">{{ track.title }}</span>
          <span class="text-xs text-[var(--tui-text-secondary)]"
            >{{ track.artist.name }} • {{ track.album.title }}</span
          >
        </div>
        <div class="flex flex-col items-end gap-1">
          <span class="text-xs text-[var(--tui-text-secondary)]">{{
            track.playedAt | timeAgo:tick()
          }}</span>
          <span
            class="text-xs text-[var(--tui-text-tertiary)] group-hover:text-white transition-colors"
            >{{ track.duration | duration }}</span
          >
        </div>
      </div>
    }
  </div>
  </tui-loader>
</div>
